@font-face {
    font-family: GilliusADFNo2;
    src: url("/fonts/gillius-adf-no2/GilliusADFNo2-Regular.otf") format("opentype");
}

:root{
    --main-light: white;
    --main-dark: #d7e1ea;
    --main-dark2: #e3e8ec;
    
    --textbox-background: #f6f1ed99;
    --textbox-color: #00000099;
    --border-color: #d7e1ea;
    /* var(--text-background) */
}

/********************************************/

html, body {
    font-family: GilliusADFNo2;
    height: 100%;
    background-color: var(--main-dark);
    color: var(--main-light);
    /* background-image: linear-gradient(to top right, var(--main-dark), var(--main-dark2) ); */

}

#content-container {
    height: 100%;
    /* width: 100%; */
    position: absolute;
    /* display: none; */
    /* background-image: linear-gradient(to top right, var(--main-dark), var(--main-dark2) ); */
}

.container {
    overflow: scroll;
    scroll-behavior: contain;
    position: relative;
    top: 52px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 52px);
    width: 100%;
}

.active_content {
    display: flex;
    width: calc(80% - 2*10px);
    right: 0px;
}

.deactive_content {
    width: 100%;
    display: none;
}

.textbox {
    background-color: var(--textbox-background);
    border-radius: 5px;
    color: var(--textbox-color);
}

@media only screen and (min-width: 800px) {
    .container {
        top: 0;
        margin: 10px;
        height: calc( 100% - 2 * 10px );
    }
}

#lines {
    background-color: rgba(0, 0, 0, 0);
	text-align: center;
	--burger-in: 5px;
	--burger-out: 4px;
	border-bottom: calc(2*var(--burger-out) + var(--burger-in)) double var(--main-dark2);
	border-top: var(--burger-out) solid var(--main-dark2);
	content: "";
	height: var(--burger-in);
    width: calc(6*var(--burger-in));
    position: fixed;
    margin: 15px;
}


