:root{
	--main-light: #D0E2EC; 
	--main-light: #FFFAFA;
	--main-light: #F4EED6;
	--main-dark: #29446F;
	--main-dark: #3b4a60;
	--left-width: 15%; 
	--sidenav-width: calc((100% - var(--left-width)));
}

/* Split the screen in half */
.split {
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
}

/* Control the left side */
.left {
	width: var(--left-width);
	left: 0;
	background-color: var(--main-dark);
	color: aliceblue;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

header {
	flex-grow: 1;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

header img {
	width: 150px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}

header a, header a:visited{
	text-decoration: none;
	color: var(--main-light);
	margin: auto;
	font-size: 25px;
}

footer {
	flex-grow: 1;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.fa {
	font-size: 30px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	margin: 5px 0px;
	color: var(--main-light); 
}

.fa:hover {
		opacity: 0.7;
}

#sidenav {
	background-color: var(--main-light);
	height: 100%;
	width: var(--sidenav-width);
	position: absolute;
	left: var(--left-width);
	z-index: 2;
	text-align: center;
/*		flex-grow: 4;*/
	display: none;
	flex-direction: column;
	justify-content: space-evenly;
}

#sidenav a {
	font-size: 20px;
	text-decoration: none;
	color: var(--main-dark);
	padding: 20px 50px;
	margin: auto;
}

#sidenav a:hover {
	background-color: rgba(66, 132, 64, 0.5);
	color: white;
	border-radius: 5px;
}

#buttonSideNav {
	flex-grow: 1;
	display:flex;
	flex-direction: column;
	justify-content: center;
}

#lines {
	margin: auto;
	background-color: var(--main-dark);
	text-align: center;
	--burger-in: 5px;
	--burger-out: 4px;
	border-bottom: calc(2*var(--burger-out) + var(--burger-in)) double var(--main-light);
	border-top: var(--burger-out) solid var(--main-light);
	content: "";
	height: var(--burger-in);
	width: calc(6*var(--burger-in));
}

/* Control the right side */
.right {
	width: calc(100% - var(--left-width));
	right: 0;
	background-color: #FDFCFC;
}	
	

@media	(min-width:320px){
	
}





