#blog-container {
    display: block;
}

#blog-container div {
    display: flex;
    flex-direction: column;
    margin: 0 10px 10px 10px;
}

#blog-container div a {
    padding: 10px;
    background-color: black;
    color: var(--main-light);
    border-radius: 5px;
    font-size: x-large;
}

#blog-container div span{
    color: var(--main-light);
    font-size: medium;
    padding: 10px;
}

