#whoami-container {
    align-items: center;
    top: 56px;
    height: calc(100% - 56px - 2 * 10px);
}

#whoami-container p {
    padding: 20px;
    margin: 0 20px 20px 20px;
    /* background-color: var(--textbox-background);
    border-radius: 5px;
    color: var(--main-light); */
    font-size: large;
    position: relative;
}

#linkcv {
    padding: 10px;
    width: 150px;
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    border-radius: 5px;
    color: var(--main-light);
    position: fixed;
    top: 10px;
}